$button-height:65px;

button {
    position: relative;
    height: $button-height;
    color: white;
    outline: 1px solid black;
    border: none;
    font-size: 20px !important;
    z-index: 2;
    
    &:focus:not(:focus-visible) {
        outline: 1px solid black !important;
    }

    &:hover {
        position: relative;
        color: black;
        outline: 1px solid white;
        z-index: 3;
    }

    &:active {
        position: relative;
        transform: translateY(2px);
        z-index: 1;
    }
}

#zero, #one, #two, #three, #four, #five, #six, #seven, #eight, #nine, #decimal {
    background-color: #4d4d4d;
}

#divide, #multiply, #subtract, #add {
    background-color: rgb(102, 102, 102);
}

#equals {
    height: calc(2 * $button-height);
    background-color: rgb(0, 68, 102);
}

#clear {
    background-color: rgb(172, 57, 57);
}