.outputScreen {
    font-size: 29px !important;
    color: white;
    text-align: right;
    line-height: 35px;
}

.formulaScreen {
    min-height: 20px;
    font-family: digital;
    font-size: 20px;
    color: orange;
    text-align: right;
    line-height: 20px;
    word-wrap: break-word;
}